syntax: glob
sinks/*
3rdParty/*
build/*
nbproject/*
build_clang
build_travis
gtest-1.7.0
generated_definitions.hpp
*~
*.tlog
*.exe
*.vcxproj
*.pdb
*.ilk
*.dll
*.exp
*.lib
*.log
*.obj
*.filters
*.sln
*.db
*.opendb
/g3logger_shared.dir
/cmake_install.cmake
/CMakeCache.txt
/CMakeFiles
*.suo
*.cache
