name: Publish docs via GitHub Pages to https://kjellkod.github.io/g3log/
on:
  push:
    branches:
      - master 
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material 
      - name: Build site
        run: mkdocs build
      - name: Deploy 
        run: mkdocs gh-deploy --force
